<div class="flex justify-center mx-auto flex-col mt-10 w-1/2">
  <h1 class="text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">Seamless Transplantation Queues with Blockchain Innovation</h1>
  <p class="text-center mb-10 text-lg font-normal text-gray-500 lg:text-xl sm:px-8 xl:px-32">Discover a revolutionary approach to organ transplantation, where the power of blockchain transforms waiting lists into transparent, immutable ledgers. This innovative system not only ensures the security of patient data but also brings an unprecedented level of trust and efficiency to the entire transplantation journey.</p>
  <a href="#" class="w-96 mt-10 mx-auto text-center inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
    Register
    <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
  </a>
</div>

